# Database credentials
PG_USER=p-stream_user
# Use a strong password
PG_PASSWORD=password
PG_DB=p-stream_backend
DATABASE_URL="postgresql://${PG_USER}:${PG_PASSWORD}@localhost:5432/${PG_DB}?schema=public"
DATABASE_URL_DOCKER="postgresql://${PG_USER}:${PG_PASSWORD}@postgres:5432/${PG_DB}?schema=public"

# App metadata
META_NAME=''
META_DESCRIPTION=''

# Required: Security secret (generate with `openssl rand -base64 24` or use https://bitwarden.com/password-generator/)
CRYPTO_SECRET='' 

# API Keys
# From https://www.themoviedb.org/settings/api
TMDB_API_KEY=''
# From https://trakt.tv/oauth/applications
# Click New Application after you've logged in, enter the name of the app, which doesnt matter, and for redirect url, just do https://google.com, it doesnt matter
# Now it will show you those keys
TRAKT_CLIENT_ID=''
TRAKT_SECRET_ID=''

# Optional: PostgreSQL connection pool size (default: 30)
# Is an integar, only set this for optimisation other wise leave blank
DB_POOL_MAX=

# Optional: Captcha
CAPTCHA=false
CAPTCHA_CLIENT_KEY=''
